.cards {
    width: 100%;
    height: 100%;
    background-color: $white;
    box-sizing: border-box;
    padding: 24px;
    @media (max-width: 900px) {
        padding: 0;
    }
    .cards_inner {
        box-sizing: border-box;
        .card {
            .link {
                height: 100%;
                width: 100%;
                text-decoration: none;
                .card_inner {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    &:hover {
                        .body {
                            .title {
                                color: $red;
                            }
                        }
                        .image_container {
                            // transform: translateY(-10px);
                            // box-shadow: 0px 15px 20px 0px rgba(34, 60, 80, 0.3);
                        }
                    }
                    .image_container {
                        // box-shadow: 0px 15px 20px -12px rgba(34, 60, 80, 0.6);
                        width: 100%;
                        border: 2px solid $white;
                        display: flex;
                        box-sizing: border-box;
                        height: 70%;
                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                        }
                        transition: all 0.3s ease-in-out;
                    }
                    .body {
                        width: 100%;
                        // height: auto;
                        // flex-grow: 3;
                        height: 30%;
                        text-decoration: none;
                        display: flex;
                        justify-content: start;
                        align-items: flex-start;
                        flex-direction: column;
                        padding-top: 12px;
                        box-sizing: border-box;
                        .title {
                            color: $black;
                            font-size: 14px;
                            font-weight: 600;
                            @media (max-width: 1200px) {
                                font-size: 14px;
                            }
                            @media (max-width: 900px) {
                                font-size: 20px;
                            }
                            @media (max-width: 600px) {
                                font-size: 14px;
                            }
                        }
                        .subText {
                            margin-top: 10px;
                            color: $gray;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.preload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $white;
}

.more_container {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        display: inline-block;
        text-decoration: none;
        color: $black;
        font-size: 20px;
        height: 100%;
        // width: 100%;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        // border-radius: 10px;
        &:hover {
            background-color: rgba(32, 32, 32, 0.1);
        }
    }
}