.slider {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $white;
    .slider_container {
        margin: 24px;
        display: block;
        justify-content: center;
        align-items: center;
        position: relative;
        height: inherit;
        overflow: visible;
        width: 100%;
        white-space: normal;
        box-sizing: border-box;
        background-color: $white;
        .slider_inner {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: start;
            align-items: flex-start;
            transition: transform 1s, left 3s ease-in-out;
            padding: 24px 0;
            box-sizing: border-box;
            .slide {
                width: 250px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .link {
                    height: 100%;
                    width: 100%;
                    text-decoration: none;
                    &:hover {
                        background: none;
                    }
                    .slide_inner {
                        // box-shadow: 0px 15px 20px -12px rgba(34, 60, 80, 0.6);
                        // border: 1px solid $black;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        overflow: hidden;
                        box-sizing: border-box;
                        &:hover {
                            .slide_body {
                                .slide_body_head {
                                    .title {
                                        color: $red;
                                        text-overflow: clip;
                                        white-space: normal;
                                        max-height: 100%;
                                    }
                                    min-height: 20%;
                                    .subText {
                                        display: none;
                                    }
                                }
                            }
                            .slide_image_container {
                                // transform: translateY(-10px);
                                box-shadow: 0px 15px 20px 0px rgba(34, 60, 80, 0.3);
                            }
                        }
                        .slide_image_container {
                            box-shadow: 0px 15px 20px -6px rgba(34, 60, 80, 0.6);
                            border: 2px solid $white;
                            box-sizing: border-box;
                            display: flex;
                            height: 80%;
                            width: 100%;
                            top: 0px;
                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                            }
                            transition: all 0.3s ease-in-out;
                            position: absolute;
                            z-index: 10;
                        }
                        .slide_body {
                            pointer-events: none;
                            position: absolute;
                            z-index: 10;
                            width: 100%;
                            box-sizing: border-box;
                            height: 70%;
                            text-decoration: none;
                            display: flex;
                            justify-content: start;
                            align-items: flex-start;
                            flex-direction: column;
                            padding: 12px 6px;
                            transition: all 0.3s;
                            .slide_body_head {
                                display: flex;
                                justify-content: start;
                                align-items: flex-start;
                                flex-direction: column;
                                box-sizing: border-box;
                                width: 100%;
                                min-height: 40%;
                                height: auto;
                                .title {
                                    color: $black;
                                    font-size: 14px;
                                    font-weight: 600;
                                    max-height: 42px;
                                    overflow: hidden;
                                    display: inline-block;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    max-width: 100%;
                                }
                                .subText {
                                    margin-top: 10px;
                                    color: $gray;
                                    font-size: 12px;
                                }
                            }
                            .slide_description {
                                padding-top: 12px;
                                width: 100%;
                                box-sizing: border-box;
                                overflow: hidden;
                                display: inline-block;
                                max-width: 100%;
                                height: auto;
                                .slide_description_text {
                                    max-width: 100%;
                                    height: 100%;
                                    box-sizing: border-box;
                                    margin: 0;
                                    max-height: 100%;
                                    font-size: 14px;
                                    word-wrap: break-word;
                                }
                            }
                            background-color: $white;
                            bottom: -50%;
                        }
                    }
                }
            }
        }
        &:hover {
            .arrow {
                display: flex;
                opacity: 1;
            }
        }
        .arrow {
            position: absolute;
            display: block;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.1s ease;
            cursor: pointer;
            .arrow_inner {
                height: 50px;
                width: 50px;
                border-radius: 100%;
                box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
                background-color: $white;
                margin: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0.8;
                .arrow_svg {
                    color: $gray;
                }
                transition: margin-right 0.3s,
                margin-left 0.3s;
                transition: transform 0.5s;
            }
            &:hover {
                .arrow_inner {
                    opacity: 1;
                }
            }
        }
        .arrow.left {
            left: 0px;
            .arrow_inner {
                transform: translateX(calc(100% * -2));
            }
        }
        .arrow.right {
            right: 0px;
            .arrow_inner {
                transform: translateX(calc(100% * 2));
            }
        }
        .arrow.active {
            .arrow_inner {
                transform: translateX(0px);
            }
        }
        .arrow.inactive {
            cursor: auto;
            pointer-events: none;
        }
    }
     ::-webkit-scrollbar {
        height: 26px;
    }
     ::-webkit-scrollbar-track {
        background-color: none;
    }
     ::-webkit-scrollbar-thumb {
        border: 10px solid rgba(0, 0, 0, 0);
        border-left: 0px;
        border-right: 0px;
        background-clip: padding-box;
        background-color: $red;
        cursor: pointer;
    }
}

.slider_mobile {
    overflow-y: hidden;
}

.slide_with_text {
    .slide_inner:hover {
        .slide_body {
            bottom: 0px !important;
        }
    }
}

.on_arrow_left {
    left: 10px !important;
}

.on_arrow_right {
    left: -10px !important;
}