@import '../variables';
#series_page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    @media (min-width: 900px) {
        padding-top: 96px;
    }
    .series_page_container {
        .series_page_firstSection {
            color: $white;
            margin-bottom: 48px;
            .series_page_leftSide {
                .series_page_leftSide_container {
                    .series_page_leftSide_item {
                        height: 100%;
                        width: 100%;
                        .image_container {
                            height: 100%;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 100%;
                                height: 100%;
                                max-width: 60vw;
                                box-sizing: border-box;
                            }
                        }
                    }
                }
            }
            .series_page_rightSide {
                .series_page_rightSide_container {
                    .series_page_rightSide_item {
                        .series_page_rightSide_item_container {
                            .rightSide_title {
                                .rightSide_title_text {
                                    margin: 0;
                                    font-size: 36px;
                                }
                                margin-bottom: 24px;
                            }
                            .rightSide_data {
                                margin-bottom: 48px;
                                .rightSide_data_container {
                                    .rightSide_data_item {
                                        display: flex;
                                        justify-content: start;
                                        align-items: start;
                                        flex-direction: column;
                                        .rightSide_data_item_title {
                                            margin-bottom: 6px;
                                            display: inline-block;
                                            font-size: 20px;
                                        }
                                        .rightSide_data_item_value_container {
                                            display: flex;
                                            justify-content: start;
                                            align-items: center;
                                            .rightSide_data_item_value {
                                                .rightSide_data_item_value_text {
                                                    font-size: 16px;
                                                    text-decoration: none;
                                                    color: $white;
                                                }
                                                a {
                                                    &:hover {
                                                        color: $red;
                                                        text-decoration: underline;
                                                        text-decoration-color: $red;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .rightSide_description {
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                .description_text {
                                    width: 60%;
                                    @media (max-width: 700px) {
                                        width: 100%;
                                    }
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .more {
            position: relative;
            z-index: 100;
            height: auto;
            .more_container {
                height: auto;
                .moreLikeThat {
                    .moreLikeThat_container {
                        .moreLikeThat_text_container {
                            .moreLikeThat_text {
                                font-size: 24px;
                                color: $black;
                            }
                        }
                    }
                }
                .moreSeries {
                    .moreSeries_container {
                        .moreSeries_text_container {
                            .moreSeries_text_inner {
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                .moreSeries_text {
                                    font-size: 24px;
                                    color: $black;
                                }
                            }
                            .moreSeriest_text_links {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .moreSeriest_text_links_container {
                                    .moreSeries_text_links_inner {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        .moreSeries_text_link {
                                            color: $black;
                                            text-decoration: none;
                                            font-style: italic;
                                            font-size: 24px;
                                            padding: 0;
                                            &:hover {
                                                color: $red;
                                                background: none;
                                            }
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .background {
                position: absolute;
                background-color: $white;
                height: 120%;
                width: 200%;
                right: 50%;
                left: 50%;
                top: 50%;
                bottom: 50%;
                transform: translate(-50%, -50%) rotate(-2deg);
                z-index: -1;
                box-shadow: 0px -4px 100px 4px rgba(34, 60, 80, 0.2);
            }
        }
    }
}

.code404_container {
    .code404_inner {
        display: flex;
        justify-content: center;
        align-items: center;
        .code404_text {
            text-align: center;
            font-size: 192px;
            color: $white;
        }
    }
}